<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>User Active Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!-- Le styles -->
    <link href="../beacon/static/css/bootstrap.css" rel="stylesheet">
    <link href="../beacon/static/css/flat-ui.css" rel="stylesheet">
    <link href="../beacon/static/css/bootstrap-responsive.css" rel="stylesheet">
<style>
      body {
        padding-left: 30px;
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
  </head>


  <body>
